.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(2px);

  &__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 36px;
    text-decoration: none;
    color: black;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
  }

  &__link {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    transition: color 0.1s ease-in-out;

    &:hover,
    &:focus {
      color: bisque;
    }

    &_active {
      color: slategrey;

      &:hover,
      &:focus {
        color: slategrey;
      }
    }
  }

  &__image {
    cursor: pointer;
    transition: fill 0.1s ease-in-out;

    &:hover,
    &:focus {
      fill: bisque;
    }
  }
}
