.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(2px);

  &__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    letter-spacing: 1px;
    font-size: 36px;
    text-decoration: none;
    color: #313942;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

  &__link {
    font-size: 20px;
    text-decoration: none;
    color: #313942;
    padding: 5px 10px;
    transition: color 0.2s ease-in-out;
    border-bottom: 1.5px solid transparent;

    &:hover,
    &:focus {
      color: #566962;
    }

    &_active {
      border-bottom: 1.5px solid #313942;
      transition: border-bottom 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: #313942;
      }
    }
  }

  &__image {
    cursor: pointer;
    fill: #313942;
    transition: fill 0.2s ease-in-out;

    &:hover,
    &:focus {
      fill: #566962;
    }
  }

  &__button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    outline: 1px solid #313942;
    color: #eae8e3;
    background-color: #566962;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
