{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "quoteProps": "preserve",
  "useTabs": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["classProperties", "typescript", "jsx"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
